main a:visited {
    color: #711900;
}

main a {
  color: #A10009;
}

main {

}

main article {
  /*fall-back for browsers not supporting alpha channel in background color*/
  background-color: #D1D1D1;
  background-color: rgba(158,140,178,0.8);
  margin-left: 3%;
  margin-top: 50px;
  padding: 15px;
  margin-bottom: 60px;
}

main h2 {
  font-size: 5em;
  font-family: 'Amatic SC', courier;
  text-align: center;
  margin-right: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}

main p {
  font-family: courier;
  text-indent: 50px;
  padding-left: 2%;
  padding-right: 2%;
}


main section { margin-bottom: 70px;
}

.ff-courier { font-family: courier; }
.ff-amatic { font-family: 'Amatic SC', courier}
.f-space { letter-spacing: .8px; }


.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.pd-r-sm { padding-right: 10%; }

.txt-ind { text-indent: 3%; }

.fs-obl { font-style: oblique; }
.fz-med { font-size: 1.5em; }

.fw-bold { font-weight: bold; }

