.debug { border: 0px solid red;}
.debugg { border: 0px solid green;}

nav {
  background-color: rgba(61,56,64,0.8);
  padding-bottom: 2px;
  padding-top: 2px;
}

nav a:hover {
  background-color: #DBFF41;
}

body {
  margin: 0;
  background-image: url("https://raw.githubusercontent.com/mrYakamoto/mrYakamoto.github.io/master/imgs/background/static3.jpg");
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

td a {
  padding-left: 20px;
  padding-right: 20px;
}

a { text-decoration: none; }

nav {
  position: fixed;
  top:0px;
  width: 100%;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background-color: rgba(61,56,64,0.8)
}

.ta-c { text-align: center; }
.ta-l { text-align: left; }

.td-und {text-decoration: underline; }

.fz-xtra-sm { font-size: 1.5em; }
.fz-sm { font-size: 2em;}
.fz-med { font-size:3em;}
.fz-lrg { font-size: 4em; }
.fz-lrgr { font-size: 5em; }
.fz-xl { font-size:1.5em; }


.ff-co { font-family: courier; }
.ff-amatic { font-family: 'Amatic SC', courier; }
.fs-obl { font-style: oblique;}
.fw-xtra-bold { font-weight: 999;}
.fw-bold { font-weight: 500;}
.fw-slight { font-weight: 100;}

.c-bright { color: #E51C9A; }
.c-slime { color: #D0FF3E; }
.c-khaki { color: #FFEED1; }
.c-pitch { color: #000000; }
.c-moss { color: #189600; }

.bg-c-pitch {background-color: #19290E; }
.bg-c-fog { background-color: gray; }
.bg-c-lightfog { background-color: #D1D1D1; }
.bg-c-dark { background-color: #219486;}
.bg-c-khaki { background-color: #FFEED1}
.bg-c-slime { background-color: #A46EBF;}


.pd-0 { padding: 0;}
.pd-s { padding: 5px; }
.pd-m { padding: 15px; }
.pd-t { padding-top: 15px; }

.pd-l-sm { padding-left: 3%; }
.pd-t-sm { padding-top: 12px; }
.pd-r-sm { padding-right: 5px; }

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.tab { margin-left: 3em; }
.m-0 { margin: 0; }
.m-m { margin: 15px;}
.m-l { margin-left: 5%; }
.m-l-sm { margin-left: 2.5%; }
.m-l-med { margin-left: 15%; }
.m-l-lrg { margin-left: 35%; }
.m-r-0 { margin-right: 0px; }
.m-r { margin-right: 5%; }
.m-r-med {margin-right: 15%;}
.m-r-sm { margin-right: 2.5%; }
.m-b-0 { margin-bottom: 0px; }
.m-b { margin-bottom: 20px; }
.m-b-med { margin-bottom: 35px; }
.m-b-lrg { margin-bottom: 50px; }
.m-t-0 { margin-top: 0px; }
.m-t { margin-top: 20px; }
.m-t-m { margin-top: 35px; }
.m-t-lrg { margin-top: 50px; }

.m-r-80 {margin-right: 80px;}

.bd-sm { border: 1px dashed black; }
.bd-med { border: 3px solid black;}
.bd-color { border: ;}

.fl-l { float: left;}
.fl-r { float: right;}

.clr-both {clear: both;}
.clr-right { clear: right; }
.clr-left {clear: left;}


.height-icon { height: 53px; }
.height-sm { height: 200px;}
.height-m { height: 285px;}
.height-ft { height: 30px;}
.width-lrg { width: 95%;}
.width-body { width: 666px;}

.width-icons { width: 55px; }

.d-bl { display: block; }
.d-inl { display: inline; }
.d-inl-bl { display: inline-block; }

.p-rel { position: relative;}
.b-sm { bottom: 100px;}
.l-sm { left: 50px;}
.t-sm { top: 50px;}

.overflow { overflow: auto; }
